/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
 
.site_promo > p {
  font-size: 21px; 
}
 .footer_top img {
  float: left;
   margin-right: 26px;
}
.footer_top span a img {
  margin-left: 223px;
  margin-top: -83px;
}
.promo_content_area .col-lg-4 > img {
  left: -132px;}
  .promo_content_area .col-lg-4 > img {
  left: 5px;
  top: 21px;
  width: 329px;
}
.footer_top span a img {
  margin-left: 366px;
  margin-top: -147px;
}
.promo_content_area .col-lg-4 > img {
  left: -34px;
}
.footer_top_all_logo img{
      margin-right: -30px;
}









}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
/*======slick nav style ======*/
.main_menu {
    display:block;
}
/*========slick nav style ========*/
  .site_promo > p {
  font-size: 27px;
}
.header_area {
  min-height: 650px;
}
.banner_content > h2 {
  padding-top: 180px;}


.footer_left > p {
    font-size: 20px;
}
.promo_content > p {
  font-size: 20px;
}
.promo_content_area .col-lg-4 > img {
 height: 554px;
margin-top: -34px;
padding-left: 64px;
width: 383px;
}
.projects_content_right > p {
  font-size: 18px;
}
.projects_content_area strong {
  font-size: 21px;
}

.footer_top > p {
  float: none;
  font-size: 25px;
}

.footer_top span a img {
  margin-left: 0px;
  margin-top: -137px;
}
.footer_top_all_logo {
    margin-left: 0;
}
.footer_top_all_logo img {
    margin-top: 10px;
}
.promo_content_area .col-lg-4 > img {
    left: -10px;
}



    
}



/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

.site_main_menu {
float: none;
margin-left: 33px;
}
.banner_logo {
  margin-left: -10px;
}
.site_promo a {
  float: left;
}

.footer_right {
  margin-left: 0;
  margin-top: 28px;
  float: left;
  text-align: left;
}
.banner_logo img {
   margin-left: 8px;
margin-right: 10px;
margin-top: 10px;
}
.promotion {
  text-align: center;
}

.promotion img {
  margin-left: 6px;
  margin-top: 10px;
}










  .site_promo > p {
  font-size: 27px;
}
.promotion > p {
  font-size: 29px;
  text-align: center;
}
.header_area {
  min-height: 650px;
}
.banner_content > h2 {
  font-size: 40px;
  margin-left: -14px;
  padding-top: 99px;
}
.footer_top_all_logo {
  margin-left: 0;
text-align: center;
}
.promo_content_area .col-lg-4 > img {

  margin-top: 21px;
  position: static;

}
.promo_content_area .col-lg-4 > img {
height: 554px;
margin-left: -19px;
margin-top: 25px;
width: 286px;
}
.projects_content_left img {
margin-left: -15px;
margin-top: -11px;
position: static;
width: 283px;
}
.projects_content_right {
  text-align: center;
}
.projects_content_right > p {
  font-size: 18px;
}
.site_project > h2 {
  margin-left: 0;
  text-align: center;
}

.footer_top img {
margin-left: 0;

}
.footer_top span a img {
  margin-left: 154px;
}
.projects_content_area strong {
  margin-left: 0;
}
.footer_left, .footer_right {
  margin-left: 0;
}
.projects_content_area {
  padding-top: 33px;
}
.footer_top > p {
 float: none;
font-size: 25px;
margin-bottom: 28px;
text-align: center;
}

.footer_top span a img {
  margin-left: 0px;
  margin-top: -137px;
} 

.site_main_menu img {
  margin-left: 19px;
  margin-top: -5px;
}
.footer_top_all_logo img {
  margin-right: 23px;
  margin-top: 10px;
}

    
}




/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

.site_main_menu {
  float: none;
  margin-left: 126px;
}
.banner_logo {
  margin-left: -10px;
}
.site_promo a {
  float: left;
}

.footer_right {
  margin-left: 0;
  margin-top: 28px;
  float: left;
  text-align: left;
}
.banner_logo img {
 margin-left: 8px;
margin-right: 0;
margin-top: 0;
}














  .site_promo > p {
  font-size: 27px;
}
.promotion > p {
  font-size: 29px;
  text-align: center;
}
.header_area {
  min-height: 650px;
}
.banner_content > h2 {
  font-size: 67px;
  margin-left: -14px;
  padding-top: 99px;
}
.promotion img {
  margin-left: -6px;
  margin-top: 10px;
}
.footer_top_all_logo {
  margin-left: 0;
}
.promo_content_area .col-lg-4 > img {

  margin-top: 21px;
  position: static;

}
.promo_content_area .col-lg-4 > img {
 height: 554px;
margin-left: 50px;
margin-top: 25px;
width: 343px;;
}
.projects_content_left img {
 
  margin-top: -11px;
  position: static;
}
.projects_content_right > p {
  font-size: 18px;
}


.footer_top img {

}
.footer_top span a img {
  margin-left: 154px;
}
.projects_content_area strong {
  font-size: 21px;
}
.footer_left, .footer_right {
  margin-left: 0;
}

.footer_top > p {
 float: none;
font-size: 25px;
margin-bottom: 28px;
text-align: center;
}

.footer_top span a img {
  margin-left: 0px;
  margin-top: -137px;
} 

.site_main_menu img {
  margin-left: 19px;
  margin-top: -5px;
}

.footer_top_all_logo img {
    margin-right: 3px;
}






}	/*==========================================  End 480-768 ==================================================*/


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 280px) and (max-width: 479px) { 


} /*==========================================  End 280-479 ==================================================*/