body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}
.slicknav_menu{display: none;}


.container {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: absolute;
}

.header_area {
}
.footer{
  margin-right: 76px;
  margin-left: 76px;
  width: 80%;
}
.layer{
  background-color: #6000D7;
  opacity: 0.72;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position:center;
}

.layer-background {
  background: url("img/banner.jpg") no-repeat ;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position:center;
}

.logo img {
  text-align: center;
  width: 214px;
  height: 217px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.50);
  border-radius: 35px 49px 52px 54px;
  margin-top: 28px;
}

.logo a {
  color: white;
}

.apple-mobile{
    position: relative;
    display: none;
   } 


@media screen and (max-width: 1280px){
   
   .apple-mobile{
    position: relative;
    display: block;
   } 

   .banner_logo{
    display: none;
   }
}

.lann {
  margin-left: 79%;
  position: absolute;
  top: 30px;
  border: 2px white solid;
  padding: 5px;
  border-radius: 16px;
}

.lann2 {
  margin-left: 79%;
  position: absolute;
  top: 30px;
  border: 2px white solid;
  border-radius: 16px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
}



.logo, .site_main_menu {
  padding: 25px 0;
  text-align: center;
}
.site_main_menu{float: right;}
.site_main_menu ul{margin: 0;padding: 0;list-style: none;
}
.promo_content_area .col-lg-4 > img {
  left: -49px;
  margin-top: -211px;
  position: absolute;
}
.projects_content_left img {
  left: 0;
  margin-top: -150px;
  position: absolute;
}

.site_main_menu ul li{ float: left; }
.site_main_menu ul li a{
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
  text-decoration: none;
  display: block;
  font-weight: 100;
}

.site_main_menu ul li a:hover{}
.banner_content > h2 {
  font-family: AmericanTypewriter;
  font-size: 72px;
  color: #FFFFFF;
  letter-spacing: -1.52px;
  text-shadow: 5px 5px 15px rgba(0,0,0,0.50);
  text-align: center;
}

.banner_logo img {
  position: absolute;
  right: 96px;
  width: 190px;
}

.banner_logo {
  text-align: center;
  margin-top: 45px;
}
.promotion img {
  margin-right: 10px;

}

.site_about > h2 {
  font-size: 50px;
  padding: 35px 0;
  color: #404041;
  font-family: Roboto;
  font-weight: 500;
}
.banner_content{}
.about_area{}
.site_about{}
.site_about h2 span {
  color: #545454;
  font-weight: 300;
}
.scroll {
  color: #ffffff;
  font-size: 30px;

}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.languagee {
  margin-top: 20px;
}

.languagee a {
  color: white;

}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.promo_area{background: rgba(0, 0, 0, 0) url("img/bg1.png") no-repeat scroll 0 0 / cover ;
padding: 31px 0;}
.site_promo > p {
  color: #fff;
  font-family: Roboto;
  font-size: 27px;
  font-weight: 300;
}
.site_promo{}
.site_promo img {
  margin-right: 30px;
}
.promo_content > p {
color: #404041;
font-size: 29px;
font-weight: 100;
padding-top: 55px;
}
.promo_content_area{padding-bottom: 55px;}
.promo_content{}
.promotion_area{padding:60px 0;background: #EEEEEE;}
.promotion > p {
  color: #404041;
  font-family: Roboto;
  font-size: 33px;
  font-weight: 300;
}
.site_project > h2 {
  color: #404041;
  margin-left: 405px;
  padding: 40px 0;
  font-weight: 500;
}
.promotion{}
.project_area{}
.site_project{}
.projects_content_area{background: rgba(0, 0, 0, 0) url("img/bg2.png") no-repeat scroll 0 0 / cover ;
min-height: 615px;
padding-top: 33px;}
.projects_content_area strong {
color: #fff;
display: block;
font-size: 25px;
padding-top: 110px;
font-weight: 300;
}
.site_main_menu img {
  margin-left: 20px;
}
.projects_content_right > p {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
}
.lolo {
 margin-left: 136px;
}

.store {
  margin-left: 42px;

}
.projects_content{}
.pfooter_top_area{padding-bottom: 70px;}
.footer_top > p {
color: #444444;
font-size: 40px;
font-weight: 100;
padding-top: 60px;
  margin-bottom: 30px;

}
.footer_top img {
  margin-right: 25px;
}
.footer_top{}
.footer_area {
  background: transparent;
  padding: 30px 0;
}
.footer_left > p {
  color: #707070;
  float: left;
  font-size: 24px;
  font-weight: 100;
  margin-right: 20px;
}
.footer_left{}
.footer_left a .fa.fa-facebook {
 background: #787878 none repeat scroll 0 0;
border-radius: 50px;
color: #c1c1c1;
float: left;
height: 30px;
margin-top: 5px;
padding: 9px 12px;
width: 30px;
margin-right: 13px;
}
.footer_left a{text-decoration: none;}
.footer_left .fa.fa-twitter {
color: #787878;
display: block;
float: left;
font-size: 27px;
padding-top: 4px;
  
}
.footer_left  {
  font-size: 20px;
  margin-left: 10px;

}
.footer_top span a img {
  margin-left: 23px;
  margin-top: 70px;
}
.footer_right {
  float: left;
  text-align: left;
  display: block;
}
.footer_right > p {
  width: 237px;

}
.fa-twitter {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-shadow: 0px 0px 0px 2px #FFFFFF;
}

.copy {
  font-family: Times-Bold;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0px;

}

.addre {
  font-size: 21px;
}
.twco {
  text-align: center;
  right: 0px;
}
.footer_right > p {
  color: #a4a4a4;
  font-size: 19px;
  font-weight: 100;
}
.footer_left .fa.fa-map-marker {
  font-size: 27px;
  margin-left: 4px;
  margin-right: 14px;
}
.footer_left i {
  margin-right: 10px;
  text-align: center;
}

.footer_right_top > p {
  font-size: 24px;
  color: #707070;
  font-weight: 100;
}
.footer_right_bottom > p {
  color: #a4a4a4;
  font-size: 19px;
  font-weight: 100;
}
.footer_right_top .fa.fa-facebook {
  background: #787878 none repeat scroll 0 0;
  color: #fff;
  padding: 8px 14px;
  border-radius: 50px;
  width: 42px;
   margin-left: 20px;
}
.footer_right_top .fa.fa-twitter {
  color: #787878;
  font-size: 32px;
  margin-left: 20px;
}

.footer_top_all_logo {
  margin-top: -16px;
  margin-left: 93px;
}

.footer_top_all_logo img {
  margin-right: 8px;
}

.soon {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-bottom: 12.5%;

}



@media only screen and (max-width: 767px){
  .lann {
    margin-left: 77%;
    position: absolute;
    top: 30px;
    border: 2px white solid;
    padding: 5px;
    border-radius: 16px;
  }

  .lann2 {
    margin-left: 77%;
    position: absolute;
    top: 30px;
    border: 2px white solid;
    border-radius: 16px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
  }
}

  .logo {
    padding-left: 1%;

  }
  .site_about > h2 {
    text-align: center;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {

    .logo {

    }
    .site_about > h2 {
      text-align: center;
    }
    .lann {
       margin-left: 76%;
       position: absolute;
       top: 70px;
       border: 2px white solid;
       padding: 5px;
       border-radius: 16px;
     }

    .lann2 {
      margin-left: 76%;
      position: absolute;
      top: 70px;
      border: 2px white solid;
      border-radius: 16px;
      padding: 5px;
      padding-right: 8px;
      padding-left: 8px;
    }

  }





/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .lann {
    margin-left: 70%;
    position: absolute;
    top: 70px;
    border: 2px white solid;
    padding: 5px;
    border-radius: 16px;
  }

  .lann2 {
    margin-left: 70%;
    position: absolute;
    top: 70px;
    border: 2px white solid;
    border-radius: 16px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
  }



}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .contt {
    text-align: center;
  }

  .contt>p {
    font-size: 16px;
  }

  .contt2 {
    text-align: left;
  }

  .contt2>h2 {
    font-size: 25px;
  }

  .contt2>p {
    font-size: 16px;
  }

  .poli {
    display: inline;
    margin-right: 20px;


  }

  .poli2 {
    display: inline;
  }

  .lann {
    margin-left: 79%;
    position: absolute;
    top: 70px;
    border: 2px white solid;
    padding: 5px;
    border-radius: 16px;
  }

  .lann2 {
    margin-left: 79%;
    position: absolute;
    top: 70px;
    border: 2px white solid;
    border-radius: 16px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
  }

}









