<% content_for :meta do %>
	
	<meta property="og:image" content="<%=root_url%>img/banner.png" /> 
	<meta property="og:url" content="<%=profile_url%>" /> 
	<meta property="og:title" content="<%= @user.username %> profile" /> 
	<meta property="og:description" content="This is Grupo app for live streaming " />


	<!-- Twitter card meta Start -->

	<meta name="twitter:card" content="player">
	<meta name="twitter:site" content="@longtailvideo">
	<meta name="twitter:creator" content="@blender3d">
	<meta name="twitter:url" content="https://dd8zgnvwlzto.cloudfront.net/twittertutorial/twitter_only.html">
	<meta name="twitter:title" content="Live Streaming">
	<meta name="twitter:description" content="This is Grupo app for live streaming">
	<meta name="twitter:image" content="<%=@user.picture_url%>">
	<meta name="twitter:player" content="https://dd8zgnvwlzto.cloudfront.net/twittertutorial/embedded.html">
	<meta name="twitter:player:width" content="435">
	<meta name="twitter:player:height" content="251">
	<!-- <meta name="twitter:player:stream:content_type" content="video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;">  -->

	<!-- Twitter card meta End -->

<% end %>

<script type="text/javascript">
	window.I18N = {
		"profile_url": "<%=profile_url%>"
	}
</script>
<div class="content ">
	<div class="bloc-top bloc-bg-color">
		<div class="share width-30p pull-left">
			<a class="cursor-pointer js-share-btn" id="js-share">
				<i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; SHARE
			</a>
		</div>
		<div class="copy-link width-30p pull-left">
			<a class="js-link-to-copy" style="display:none">
				<%=profile_url%>
			</a>
			<a class="js-copy-link" ><i class="fa fa-link" aria-hidden="true"></i>&nbsp; COPY LINK</a>
		</div>
		<div class="js-signup signup width-30p pull-left">
			<%=  link_to "http://www.apple.com/fr/itunes/", id: "js-signup", target: "_blank" do %>
				<img src="/img/logo-icon.png" class="logo-icon">
				SIGN UP
			<% end %>
		</div>
	</div>
	<div class="username center position-relative">
		<div class="width-30p pull-left">&nbsp;</div>
		<div class="width-30p pull-left">
			<%=  @user.username %>
		</div>
		<div class="width-30p pull-left">
			<%=  link_to "/" do %>
				<img src="/img/logo-icon.png" class="logo-icon-2">
			<% end %>
		</div>

		<%	if @user.check_status() %>
			<div class="live">LIVE</div>
		<%else%>
			<div class="offline">OFFLINE</div>
		<%end%>
	</div>

	<div class="audio">

		<div class="picture" style="<%="background-image: url(#{@user.picture_url})" if remote_file_exists?(@user.picture_url) %>" ></div>
		<div class="v-space-2 float-left"></div>
		<div class="v-space-2 float-left"></div>
		<div class="user-skill center" ><%= @user.skill %></div>


	</div>

	<div class="bottom-bloc">
		<%	if @user.check_status() %>
			<!-- <div class="listeners">
				<div class="skew pull-right"><%=@user.listeners.size%> <br><span class="stuff">Listeners<%="s" if @user.listeners.size>1%> </span></div>
				<% @user.listeners_users.each do |listeners_user| %>
					<%= link_to profile_path(listeners_user.username), target:"_blank" do %>
						<div class="small-circle-user pull-right"  style="<%= "background-image: url(#{listeners_user.picture_url})" if remote_file_exists?(listeners_user.picture_url) %>"  title="<%=listeners_user.username%>"></div>
					<% end %>
				<% end %>
			</div> -->
			<div class="player-container">
				<div class="js-error-flash" style="display:none">Error loading flash player</div>
				<div id="player" ></div>
			</div>
		<%end%>
	</div>

</div>


<%= render "share_popup" %>

<% content_for :js do %>
  
  <script type="text/javascript">

    $( document ).ready(function() {
		SharedApp.tracking("<%=@user.username%>");
		SharedApp.handleCopyToClipboard();
		SharedApp.shareButtons();
		SharedApp.sharePopup();
		SharedApp.jwplayer("<%=@user.token%>", "<%=@user.phone_number%>");
		SharedApp.trackingSignUpClicked();
		SharedApp.trackingShareClicked();
    });
    
  </script>
<% end %>

