<% content_for :meta do %>
    <meta http-equiv="refresh" content="60" /> 
<% end %>

        <div class="layer-background"></div>
        <div class="layer"></div>
        
        <div class="content-absolute">
                <div class="width-100p float-left center to-100p">
                    <p id="error"><%= flash[:error] %></p>
                    <p id="notice"><%= flash[:notice] %></p>
                </div>
            <div class="width-100p float-left">
                
                <div class="width-30p float-left">
                    &nbsp;
                </div>
                
                <div class="width-30p float-left center to-100p">
                    <div class="v-space-3"></div>
                    <div class="v-space-3"></div>
                    <img src="img/logo6.png" class="logo" alt="Logo">
                </div>

                <div class="width-30p float-left">
                    <div class="v-space-3"></div>
                    <div class="v-space-2"></div>
                    <a href="https://itunes.apple.com/us/app/grupo-your-live-podcast-to/id1067926052?mt=8" target="_blank" class="float-right apple-desktop"><img src="img/appale_logo.png" class="logo-apple" alt=""></a>
                </div>
            </div>
            <div class="v-space-2 float-left"></div>
            <div class="center float-right width-100p apple-mobile"  style="display:none" >
                <a target="_blank" href="https://itunes.apple.com/us/app/grupo-your-live-podcast-to/id1067926052?mt=8" class=" "><img src="img/appale_logo.png" class="logo-apple without-margin" alt=""></a>
            </div>
            <div class="v-space-2 float-left"></div>
            <div class="v-space-2 float-left"></div>
            <h2 class="bigger-title center">Speak out and listen up!</h2>
            <h2 class="bigger-title center">Share or listen to live broadcast</h2> 
            <div class="v-space-2 float-left"></div>
            <div class="v-space-2 float-left"></div>
            <h3 class="big-title center">Allow social media to be your stage</h3> 
            <h3 class="big-title center">and interact with other users whose interests match your own....</h3> 
            <h3 class="big-title center">The possibilities are endless.</h3> 
            <div class="v-space-3 float-left"></div>
            <div class="v-space-3 float-left"></div>
            <div class="container padding-1">

                <%
                    users = User.where(verification_status: 1).order("RANDOM()").limit(6)
                %>
                
                <%  users.each do |user| %>

                    <div class="width-30p to-100p float-left padding-2">
                        <div class="width-100p float-right">
                            <div class="circle-user <%= (user.check_status() ? "float-left" : "center-block" )%>" style="<%= "background-image: url(#{user.picture_url})" if remote_file_exists?(user.picture_url) %>">
                        </div>
                        <%  if user.check_status() %>
                            <div class="float-right player">
                                <div class="v-space-1 float-right"></div>
                                
                                <%= content_tag :div, class: "js-user js-data", data: {username: user.username} do %>
                                    <img src="img/flech.png" class="flech" alt="">
                                <% end %>
                                
                            </div>
                        <% end %>
                    </div>
                        
                        <div class="v-space-1 float-right"></div>
                        <div class="float-left float-right username-2 <%= "center" unless user.check_status() %>"><%= user.username %></div>
                        <div class="float-left float-right skill <%= (user.check_status() ? "height-skil" : "center" ) %>"><%= user.skill %></div>
                        <div class="v-space-1 float-right"></div>
                        <div class="v-space-1 float-right background-white height-bar" ></div>
                        <div class="v-space-3 float-right"></div>
                        <div class="v-space-3 float-right"></div>
                    </div>

                <% end %>

            </div>

            <div class="v-space-3 float-left"></div>
            <div class="v-space-3 float-left"></div>

            <div>

                <div class="width-50p float-left copyright">
                    <p class="copyright copy">COPYRIGHT © 2016 grupo, ALL RIGHTS RESERVED.</p>
                </div>
                
                <div class="width-50p float-left"> 
                    <a href="https://twitter.com/grupoApps"  class="float-right" >
                        <div class="fa fa-twitter circle-icon"></div>
                    </a>

                    <div class="float-right copyright made">Made In NYC</div> 
                </div>

            </div>
            <div class="v-space-2 float-left"></div>
        </div>
    
<% content_for :js do %>
  
  <script type="text/javascript">

    $( document ).ready(function() {
        
        SharedApp.detectAppInstalled();
    });
    
  </script>
<% end %>
