$height: 60px;
$line-height: 60px;
$main-color: #6902E1;
$second-color: rgb(212, 212, 212);


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


@font-face {
    font-family: "American";
    src: url('/fonts/ufonts.com_american-typewriter.ttf'), url('/fonts/ufonts.com_american-typewriter.eot');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'Roboto', sans-serif;
}

body {
	color: black;
	background: white;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 16px;

}


a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: $second-color;
}


.bloc-top{
	display: block;
	width: 100%;
	height: $height;
}

.width-30p {
	width: 33.33%;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.share{
	text-align: left;
	line-height: $line-height;
	color:$second-color;
	font-weight: lighter;
	font-size: 14px;
}

.copy-link{
	text-align: center;
	line-height: $line-height;
	color: $second-color;
	font-weight: lighter;
	font-size: 14px;
	a{
		cursor: pointer;
	}
}

.bloc-bg-color{
	padding: 0 20px;
	background-color: #181818;
}

.center{
	text-align: center;
	line-height: $line-height;
}

.center-block{
	margin: 0 auto;
}

.username{

	height: $height;
	background-color: #8A00E2;
	vertical-align: middle;
	color: white;
	font-size: 18px;

}

.signup{
	text-align: right;
	line-height: $line-height;
	font-weight: lighter;
	font-size: 14px;
}

.picture{
	background-image: url(/img/icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 3px solid black;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -75px;
}

.user-skill{
	background-position: center;
	vertical-align: middle;
	height: 150px;
	width: 150px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 80%;
	margin-top: -100px;
	color: #8A00E2;
}


.bottom-bloc {
	position: absolute;
	bottom: 0;
	width: 100%;

	.listeners{
		height: $height;
		background: rgb(82, 82, 82);
		overflow: hidden;
		
		.skew {
			color: white;
			padding: 7px 15px;
			height: 100%;
			background:  #353535;
			.stuff {
				color: white;
				font-weight: bold;
			}
		}
	}
	.player-container {
		background: $second-color*1.15;
		.custom-error-text {
			line-height: $height ;
		}
		#player{
			height: $height !important;
			width: 100% !important;
		}
		.jw-controlbar {
			height: 100% !important;
			position: absolute;
			top: 0;
		}

		.jw-icon {
			height: $height !important;
			line-height: $height !important;
		}
		.jw-preview {
			background: $second-color*1.15;
		}

	}
}

.small-circle-user {
	background-image: url(/img/icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	border-radius: 100%;
	border: 2px solid #353535;
	margin: 10px 8px;
	height: 40px;
	width: 40px;
	border-radius: 100%;
}

.live {
	position: absolute;
	bottom: -60px;
	right: 20px;
	background: rgb(250,57,68);
	color: white;
	padding: 10px;
	line-height: initial;
	border-radius: 7%;
}

.offline {
	position: absolute;
	bottom: -60px;
	right: 20px;
	background: #8A00E2;
	color: white;
	padding: 10px;
	line-height: initial;
	border-radius: 7%;
}

.offline_lecteur{
	position: absolute;
	text-align: center;
}

.position-relative {
	position: relative;
}

.logo-icon{
	width: 24px;
    vertical-align: sub;
}

.logo-icon-2{
	width: 47px;
    float: right;
    margin-top: 12px;
    margin-right: 27px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
  &.shares {
  	position: absolute;
  	left: -1000px;
  }
}

.cursor-pointer {
	cursor: pointer;
}

.layer{
  background-color: rgb(92, 0, 214);
  opacity: 0.88;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position:center;
}

.layer-background {
  background: url("/img/banner.jpg") no-repeat ;
  background-position: center;
  background-size: 119%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 96% 0;
}


.width-100p{
	width: 100%;
}

.logo {
	width: 220px;
	border-radius: 54px;
	box-shadow:  3px 3px 10px rgb(0, 0, 0);
}

.logo-apple {

	width: 190px;
	box-shadow:  3px 3px 10px rgb(0, 0, 0);
	margin-right: 100px;
	&.without-margin{
		margin: 0 !important;
	}
}

.v-space-1 {
	width: 100%;
	height: 10px;
}

.v-space-2 {
	width: 100%;
	height: 20px;
}

.v-space-3 {
	width: 100%;
	height: 30px;
}

.content-absolute{
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	/*overflow: scroll;*/
}

.big-title{
	
	font-family: "American";
	font-size: 33px;
	color: #FFFFFF;
	letter-spacing: -0.69px;
	margin-top: -36px;
}

.bigger-title{

    margin-bottom: -25px;
    font-family: Times-Bold;
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: -1.52px;
}

.small-title{
	font-family: "American";
	font-size: 40px;
	color: white;
	font-weight: bold;
}

.width-50p {
	width: 50%;
}

.circle-icon {
	margin-right:115px; 
	width: 28px;
	height: 28px;
	font-size: 17px;
	text-align: center;
	line-height: 25px;
	border-radius: 100%;
	border: white 1px solid;
}

.made{
	margin-right: 38px;
}

.username-2{
	font-family: "American";
	font-size: 20px;
	color: white;
	padding: 0 10px;
	width: 100%;
}

.height-skil{
	height: 19px !important;
    margin-top: 4px !important;
}

.skill{
	font-family: "American";
	font-size: 17px;
	color: #FF0548;
	padding: 0 10px;
	margin-top: -33px;
	width: 100%;
    height: 45px;
    font-weight: bold;
}

.container {
    width: 1037px !important;
}
.height-bar{
	height: 4px;
}
.padding-1{
	padding: 0 110px;
}

.padding-2{
	padding: 0 30px;
}

.copyright {
	font-family: "Aerican";
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}

.circle-user {
	border-radius: 100%;
	border: 5px solid #FF0548;
	height: 110px;
	width: 110px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(/img/icon.png);
	box-shadow:  3px 3px 10px rgb(0, 0, 0);
}

.background-white {
	background-color: white;
}

#error{
	font-family: "American";
	color: #FF0548;
	font-size: 33px;
	letter-spacing: -0.69px;
}

#notice{
	font-family: "American";
	color: #FF0548;
	font-size: 33px;
	letter-spacing: -0.69px;
}

@media screen and (max-width: 500px) {
  .apple-desktop {
    display:none;
  }
  .apple-mobile{
  	display: block !important;
  }
  .to-100p {
  	width: 100%;
  }

  h3{
	line-height: 41px !important;
	margin-top: 0px!important;
}
	.username-2{
	    /*width: 276px !important;*/
	    text-align: center !important;
	    margin-top: -16px !important;
	}
	.skill{
	    text-align: center !important;
	}
}

@media screen and (max-width: 900px) {


	.layer-background {
		background-size: cover;
	}

	.container {
		width: 100% !important;
		padding: 0;
	}


	.circle-user {
		float: none;
		margin: 0 auto;
		width: 160px;
		height: 160px;
	}

	.player {
		float: none;
		text-align: center;
		img{
			width: 100px;
		}
	}


}

