<!DOCTYPE html>
<html>
	<head>
		<title>Grupo</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Audio Streaming App">
		<meta name="author" content="SaraSLILA">

		<!-- start Mixpanel -->

		<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
		mixpanel.init("2ab1f38e74a0833715ee10a7a805316e");</script>
		<!-- end Mixpanel -->

		<%= yield :meta %>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,500,300italic,400italic,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>


		<script type="text/javascript" src="/js/jwplayer.js" jwplayer.key="kWsASVw0/k4i83xIFl7lKJ3+g2eLiC5ZzomQTw==;"></script>
		<script>jwplayer.key = "kWsASVw0/k4i83xIFl7lKJ3+g2eLiC5ZzomQTw==";</script>
		

	</head>
	<body>

		<%= yield %>

		<%= yield :js %> 

		<script>
		  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
		   t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
		  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/38051/script.js');
		</script>

		
	</body>
</html>
